.post-container {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 28px;
  margin-bottom: 0px;
}

.paragraph {
  height: 100px;
  width: 330px;
  padding: 4px;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 0px;
  color: #64748b;
}

.social-button-wrapper {
  display: flex;
}

.share-icon {
  margin-right: 2px;
}
